#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: top 0.3s; /* Smooth animation */
    z-index: 1000; /* Ensure the header is above other content */
    backdrop-filter: blur(10px) brightness(0.75);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

header > h1 {
    flex-grow: 4;
    padding-left: 110px;
}

header > #github {
    width: 100px; 
    height: 100px; 
    padding: 10px;
}

#github > img {
    width: 100px; 
    height: 100px;
}

header.hidden {
    transform: translateY(-100%);
}

#aboutme {
    justify-content: center;
    padding: 2rem 0 2rem 0;
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    background-image: url("/uni.png");
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

#aboutme:hover {
    transform: scale(1.05);
}

#aboutme > a > img {
    height: 300px;
    padding: 25px;
}

#aboutme > a {
    transition: all 0.3s ease-in-out;
}

#aboutme > a:hover {
    transform: scale(1.05);
}

body {
    padding: 0;
}

#projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
}

#terminal-content {
    font-family: Courier New, Courier, monospace;
    width: 100%;
    max-width: 800px;
    background-color: #000;
    color: #0f0;
    overflow-y: auto;
    overflow-x: auto;
    text-align: left;
    font-family: monospace;
    max-height: 400px;
    transition: all 0.3s ease-in-out;
    scrollbar-gutter: stable both-edges;
    border-radius: 0px 0px 0px 10px;
}

#terminal {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
}

#terminal:hover {
    transform: scale(1.05);
}

#terminal-bar {
    height: 2rem;
    width: 100%;
    background-color: #101010;
    color: #f0f0f0;
    text-align: right;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

#terminal-bar > span {
    font-family: monospace;
    letter-spacing: 0.1em;
    padding-left: 1em;
}

.terminal-line {
    display: flex;
    justify-content: flex-start;
}

.repo-details {
    padding-left: 1rem;
}

.repoLink {
    color: #0f0;
    text-decoration: none;
}

.repoLink:hover {
    color: #fff;
    text-decoration: underline;
}

.repoDesc {
    color: #888;
}

.repoLanguage {
    color: #0f0;
    font-weight: bold;
}

#codeBackground {
    background-image: url("Code.png");
    background-size: cover;
}

#languages {
    padding: 1em 0 1em 0;
}

.langImg {
    width: 4em;
    height: 4em;
    filter: drop-shadow(0px 0px 10px #222);
    padding: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    #aboutme {
        flex-direction: column;
        align-items: center;
        text-align: center;
        transform: none; /* Disable hover effect */
        margin: 0;
    }

    #aboutme:hover {
        transform: none; /* Disable hover effect */
    }

    #aboutme > a > img {
        height: auto;
        width: 80%;
    }

    #projectContainer {
        display: none; /* Hide project showcase */
    }
}